#aboute a {
  color: #e3872d;
  transition: 0.3s;
}

.text-last-name {
  color:#e3872d;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282828;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #e3872d;
  text-decoration: none;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  top: 49px;
  z-index: 1;
  position:fixed;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .center { text-align: left;}
}

.home-section {
  background-image: url(../img/background.jpg) ;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.name-header {
  color: white;
}

.avatar-img {
  border: 5px solid rgba(255,165,0,0.7);
}

.avatar-img:hover {
  border: 5px solid rgb(255,165,0);
}

.social a {
  color:white
}

.whatsapp:hover{
  color: #25d366;
}

.linkedin:hover{
  color: #0e76a8;
}

.twitter:hover{
  color: #00acee;
}

.github:hover{
  color: black;
}

.section-title {
  border-left: 10px solid #e3872d
}

.about-me ul {
  margin: 0px;
  list-style-type: none;
}

.btn-orange {
  text-decoration: none;
  color: #fff;
  background-color: #e3872d;
  padding: 12px 35px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.poi {
  color: #e3872d;
}

.services-card {
  -webkit-box-shadow: 4px 13px 47px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 13px 47px -14px rgba(0,0,0,0.75);
  box-shadow: 4px 13px 47px -14px rgba(0,0,0,0.75);
}
.services-card:hover {
  -webkit-box-shadow: 0px 13px 0x -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 0px -14px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 0px -14px rgba(0,0,0,0.75);
}


.center {
  text-align:center;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #e3872d;
}
.filter-button {
  font-size: 18px;
  border: 1px solid #e3872d;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  background-color: #e3872d;

}
.filter-button:hover {
  font-size: 18px;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  text-align: center;
  color: #e3872d;
  background-color: #f7f7f7;

}
.btn-default:active .filter-button:active {
  background-color: #42B32F;
  color: white;
}

.gallery_product {
  margin-bottom: 30px;
}
